.button {
  border-radius: var(--border-radius-default);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  max-width: var(--width-input);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transition: transform 0.1s ease;
  width: 100%;
  /*min-height: 2.5em; Enable when implementing spinner - Jiban*/
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

/** TODO: Create separate styles for .primary and .secondary variants of this button:
* - Must use the CSS variables declared in App.css
*/
/* Implemented Primary, Secondary button css */
.button.primary {
  background-color: var(--color-brand);
  color: var(--color-accent);
  border-color: var(--color-border);
}

.button.secondary {
  background-color: var(--color-accent);
  color: var(--color-brand);
  border-color: var(--color-border);
}

/* basic spinner - Jiban
.spinner {
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}
*/